services:
  server:
    build:
      context: ./server
    ports:
      - "7777:7777"
    environment:
      - BACKEND_PORT=${BACKEND_PORT}
      - CLIENT_URL=${CLIENT_URL}
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - ./server:/app              
      - /app/node_modules
    command: npm run dev            
    depends_on:
      - database

  database:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5492:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: