services:
  database:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5492:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: